.currency-header {
  background-color: #00e7ff33;
  font-family: 'Roboto';
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

p {
  font-weight: bold;
  margin: 0;
  margin-right: 10px;
}
.cointypes-container {
  display: flex;
}
.usd-coin {
  margin-right: 50px;
}
